html,body{
    margin:0 !important;
    max-width: 100%;
    overflow-x: hidden;
} 

/*-------- Navigation--------*/
/*---------------------------*/

.container{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.container>.navbar-collapse {
    margin-right: 3%;
    margin-left: 3%;
}

.navbar{
    margin-bottom: 0px;
}

.navbar>.container .navbar-brand {
    margin-left: -60px;
    margin-right: -60px;
}

.navbar-nav{
    float: none;
    text-align: center;
    width: 100%;
}

.navbar-nav>li>a {
    padding-bottom: 11px;
}

.nav>li>a {
    padding: 10px 7px;
}

.nav>li>a:hover, .nav>li>a:focus, {
    text-decoration: none;
    background-color: white;
}

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

.center .dropdown-menu {
    text-align: left;
}

.navbar .brand {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    float: none;
    padding: 0px,0px;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    -ms-transition: color .5s ease;
    transition: color .5s ease;
}

.menu-button{
    border-top: black 2px solid;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: left;
}

.navbar-toggle{
    position: block;
    float: none;
    padding: 9px 10px 0px;
    margin: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
}

.navbar-toggle p{
    padding-top: 10px;
}

.brand{
    float: none;
    padding: none;
    margin-right: -80px;
    margin-left: -80px;
}

.brand a {
    float: none; 
    margin: 0 auto;
}

.brand a:hover {
    background-color: none;
}

.nav>li>a {
    padding: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 20px;
    letter-spacing: .5px;  
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    -ms-transition: color .5s ease;
    transition: color .5s ease;
}

.nav>li>a>img {
    width: 65%;
}

.navigation{
	background-color: white;
}

.nav>ul{
    margin-left: 0;
    text-align: center;
    margin-bottom: 0px;
}

.nav>li{
    display: inline;
	list-style-type: none;
    border-bottom: 2px solid black;
    border-top:  2px solid black;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.nav>li>a:hover{
    color: #BB152D;
    text-decoration: none;
    background-color: white;    
}   

#logo{
    border-bottom: none !important;
    border-top: none !important;
}

#about{
    margin-top: 4%;
}

#menu{
    margin-top: 4%;
    z-index: 2000;
}

#specials{
    margin-top: 4%;
}

#contact{
    margin-top: 4%;
}

#mobile_menu_button { 
    border: none; 
    outline: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 160px; 
}

/*--------- Homepage --------*/
/*---------------------------*/

.home{
    border-top: solid 3px black;
    position: relative;    
}

.mobile-home img{
    border-top: solid 3px white;
}

.home-text{
    padding: 10px 22px 10px 22px;
    width: 277px;
    height: 170px;
    background-color: black;
    position: absolute;
    left: 14%;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.mobile-home-text{
    padding: 15px 22px 10px 22px;
    height: 180px;
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#mobile-home-first{
    font-size: 41px; 
    letter-spacing: .5px;       
}

#home-first{
    font-size: 38px; 
    letter-spacing: .5px;       
}


#mobile-home-second{
    font-size: 53px;  
    font-weight: bold; 
    line-height: 20px;
    letter-spacing: .5px; 
    color: #BB152D;  
}

#home-second{
    font-size: 52px;  
    font-weight: bold; 
    line-height: 20px;
    letter-spacing: .5px; 
    color: #BB152D;  
}

#mobile-home-third{
    font-size: 22px; 
    line-height: 38px;
    border-bottom: solid 3px white;
    letter-spacing: .5px;
    color: white;    
    margin-left: 30px;
    margin-right: 30px;
}

#home-third{
    font-size: 22px; 
    line-height: 38px;
    border-bottom: solid 3px white;
    letter-spacing: .5px;
    color: white;    
}


/*-- About --*/
.about{
    border-top: solid 3px black;
    position: relative;
}

.mobile-about img{
    border-top: solid 3px white;
}

.about-text{
    padding: 10px 22px 10px 22px;
    width: 600px;
    height: 225px;
    background-color: black;
    position: absolute;
    left: 14%;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: white;
    text-align: left;
    letter-spacing: .2px;  
}

.mobile-about-text{
    padding: 25px 65px 25px 65px;
    height: 365px;
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: white;
    text-align: left;
    letter-spacing: .2px;  
}

#title{
    font-family: 'PT Sans', sans-serif;
    color: #BB152D;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: .5px;      
}

#mobile-title{
    font-family: 'PT Sans', sans-serif;
    color: #BB152D;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: .5px;      
}

/*-- Menu --*/
.menu{
    border-top: solid 3px black;
    position: relative; 
    -webkit-transition: 3s ease;
    -moz-transition: 3s ease;
    -o-transition: 3s ease;
    -ms-transition: 3s ease;
    transition: 3s ease;       
}

.mobile-menu img{
    border-top: solid 3px white;
}

.menu-text{
    transition: background-color 0.5s ease;
    background-color: black !important;
    text-decoration: none !important;
}

.menu-text a{
    text-decoration: none !important;
}

.menu-text:hover{
    opacity: .6 !important;
}

.menu-text{
    padding: 10px 22px 10px 22px;
    width: 277px;
    height: 170px;
    background-color: black;
    position: absolute;
    left: 25.5%;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.mobile-menu-text{
    padding: 20px 35px 20px 35px;
    height: 180px;
    background-color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: white;
    text-align: center;
    letter-spacing: .2px; 
    text-transform: uppercase;
}

#menu-first{
    font-size: 42px;  
    line-height: 37px;
    letter-spacing: .5px; 
    color: #BB152D;   
    text-decoration: none !important;      
}

#mobile-menu-first{
    font-size: 44px;  
    line-height: 37px;
    letter-spacing: .5px; 
    color: #BB152D;   
    text-decoration: none !important;  
    text-align: center;    
}

#menu-second{
    font-size: 22px;
    line-height: 9px;
    letter-spacing: .5px; 
    color: white;   
    text-decoration: none !important;      
}

#mobile-menu-second{
    font-size: 22px;
    line-height: 9px;
    letter-spacing: .5px; 
    color: white;   
    text-decoration: none !important;   
    text-align: center;   
}

#menu-third{
    font-size: 88px; 
    font-weight: bold;
    border-bottom: solid 3px white;
    line-height: 73px;
    letter-spacing: .5px;
    color: white;   
    text-decoration: none !important;       
}

#mobile-menu-third{
    font-size: 90px; 
    font-weight: bold;
    border-bottom: solid 3px white;
    line-height: 73px;
    letter-spacing: .5px;
    color: white;   
    text-decoration: none !important; 
    margin-left: 21px;
    margin-right: 27px;  
    text-align: center;    
}

.modal-title{
    font-family: 'PT Sans', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: .5px;    
}




/*-- Specials --*/
.specials{
    border-top: solid 3px black;
    position: relative;   
}

.mobile-specials{
    text-align: center;
    background-color: black;
    padding-top: 25px;
}

.mobile-specials img{
    border-top: solid 3px white;
}

.specials-list{
    padding-bottom: 25px;
}

.specials-list img{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/*-- Contact Us --*/
.contact{
    border-top: solid 3px black;
    position: relative;
}

.contact-img{
    border-top: solid 3px white;
}

.location{
    padding: 10px 22px 10px 22px;
    width: 595px;
    height: 560px;
    background-color: black;
    position: absolute;
    left: 50%;
    margin-left: -36%;
    border-top: solid 3px black;
}

.mobile-location{
    padding: 20px 35px 20px 35px;
    background-color: black;
}

.map {
    margin-right: 20px;
}

.mobile-map{
    max-width: 100%;
}

iframe{
    border: 4px solid #BB152D;
}

.location-text{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center; !important;
    padding-top: 10px; 
    letter-spacing: .5px;  
}  

.mobile-location-text{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center; !important;
    padding-top: 10px; 
    letter-spacing: .5px; 
    height: 405px; 
    padding: 20px 35px 20px 35px;
}  

#address{
    font-size: 24px;
    padding-top: 3px; 
    font-weight: bold !important;
    letter-spacing: .5px;  
    padding-bottom: 6px;
    color: #BB152D;
}

#mobile-address{
    font-size: 16px;
    padding-top: 3px; 
    font-weight: bold !important;
    letter-spacing: .5px;  
    padding-bottom: 6px;
    color: #BB152D;
}

#extra-bold{
    padding-top: 3px; 
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: .2px;  
    font-size: 23.4px;
    line-height: 35px;
}

.time{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #BB152D;
    text-transform: uppercase;
    text-align: center; !important;
    padding-top: 5px; 
    letter-spacing: .2px;     
}

.mobile-time{
    font-family: 'PT Sans', sans-serif;
    font-size: 10.3px;
    color: #BB152D;
    text-transform: uppercase;
    text-align: center; !important;
    letter-spacing: .2px;     
}

/*-- Contact --*/
.phone{
    background-color: black;
    border-bottom: 3px solid black;
    border-top: 3px solid white;
    text-align: center;
}

.contact-buttons{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    display: -webkit-inline-box;
}

.icon-group{
        display: -webkit-inline-box!important;
        padding: 0;
}

#social-text{
    text-align: center !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
    vertical-align: middle;
    letter-spacing: .5px;  
    padding-right: 20px;    
}

.icons{
    padding-left: initial;
}
.contact-buttons img{
    margin-top: 0px !important;
}

.contact-buttons a{
    text-decoration: none;
    color: white;
    -webkit-transition:  .75s ease;
    -moz-transition:  .75s ease;
    -o-transition:  .75s ease;
    -ms-transition:  .75s ease;
    transition:  .75s ease;
}

.contact-buttons a:hover{
    color: #BB152D;  
}

i.ss-icon{
    color: #BB152D;  
    font-size: 45px;
    line-height: 70px;
    -webkit-transition:  .75s ease;
    -moz-transition:  .75s ease;
    -o-transition:  .75s ease;
    -ms-transition:  .75s ease;
    transition:  .75s ease;
    text-decoration: none;
}

i.ss-icon:hover{
    color: white;
    underline: none;
}

.contact-buttons li p{
    line-height: 60px;
    padding-top: 32px;
}

.call{
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0; 
}

#werribee{ 
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center !important;
    color: #BB152D;
}

#order-online{
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: white;
    text-transform: uppercase;
    text-align: center !important;
    line-height: 11px;
    font-weight: bold;
    padding-right: 5px;
    -webkit-transition:  .75s ease;
    -moz-transition:  .75s ease;
    -o-transition:  .75s ease;
    -ms-transition:  .75s ease;
    transition:  .75s ease;       
}

#phone{
    font-family: 'PT Sans', sans-serif;
    font-size: 55px;
    color: white;  
    text-transform: uppercase;
    letter-spacing: -4px;
    text-align: right !important;
    padding-top: 12px;
}


/*-- Footer --*/
.footer{
    height: 25px;
    margin-top: 7px;
}

.sottiles{
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    padding: 0 !important;
}

.aurora{
    color: #BB152D;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 !important;
    float: right;
    text-align: right;
}

.aurora a{
    color: #BB152D;
    text-decoration: none;
}

.aurora a:hover{
    color: black;
}    

/* Small devices (tablets, 768px and up) */
@media (max-width: 480px) { 

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:block;
    *display:block; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.nav>li>a {
    padding: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: .5px;  
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    -ms-transition: color .5s ease;
    transition: color .5s ease;
}
.nav>li{
    margin-left: 9.5%;
    margin-right: 9.5%;
}

.btn:focus{
    outline: 0 none !important;
}

.navbar-brand{
    display: none !important;
}

.navbar-nav {
    margin: 0px;
    padding-bottom: 20px;
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  border-top: none;
  box-shadow: none;
  -webkit-overflow-scrolling: touch;
}

.about-text{
    width: 100%;
    height: 425px;
    left: 0%;
    padding: 30px 42px 30px 42px;
}

.icon-group{
    display: -webkit-inline-box!important;
}

#social-text{
    text-align: center !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
    vertical-align: middle;
    letter-spacing: .5px;  
    padding-right: 10px;    
}

.call{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#phone{
    line-height: 25px;
    padding-bottom: 5px;
    letter-spacing: 0;
}

#order-online{
    font-family: 'PT Sans', sans-serif;
    font-size: 20.5px;
    color: white;
    text-transform: uppercase;
    float: left !important;
    line-height: 11px;
    font-weight: bold;
    -webkit-transition:  .75s ease;
    -moz-transition:  .75s ease;
    -o-transition:  .75s ease;
    -ms-transition:  .75s ease;
    transition:  .75s ease;       
}

#mobile-call{
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

i.ss-icon{
    color: #BB152D;  
    font-size: 35px;
    line-height: 60px;
    -webkit-transition:  .75s ease;
    -moz-transition:  .75s ease;
    -o-transition:  .75s ease;
    -ms-transition:  .75s ease;
    transition:  .75s ease;
    text-decoration: none;
}

.contact-buttons{
    display: inline-block;
}

.footer{
    height: 25px;
    margin-top: 7px;
}

.sottiles{
    text-align: center; 
    float: none;
    margin-bottom: 0;
    margin-top: 3px;
}

.aurora{
    text-align: center; 
    float: none;
}
}

@media (min-width: 480px) and (max-width: 766px) { 
.nav>li>a {
    padding: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: .5px;  
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    -ms-transition: color .5s ease;
    transition: color .5s ease;
}

.nav>li>a>img{
    width: 45%;
}

.nav>li{
    margin-left: 24%;
    margin-right: 24%;
}

.navbar>.container .navbar-brand {
    margin-left: -110px;
    margin-right: -110px;
}

.about-text{
    width: 350px;
    height: 300px;
    left: 8%;
    font-size: 14px;
}

#title{
    font-size: 30px;
    line-height: 28px;
}

.navbar{
    margin-bottom: 5px;
    margin-top: 15px;
}

#mobile-home-third {
    margin-left: 111px;
    margin-right: 111px;
}

.contact-buttons img{
    margin-top: 0px !important;
    display: none;
}

.mobile-about-text {
    padding: 25px 130px 25px 145px;
}

#mobile-menu-third {
    margin-left: 75px;
    margin-right: 75px;
}

.mobile-menu-text {
    padding: 25px 65px 25px 65px;
}

.specials-list img {
    max-width: 40%;
}

iframe {
    height: 200px;
    width: 240px;
}

.mobile-time{
    font-family: 'PT Sans', sans-serif;
    font-size: 10.3px;
    color: #BB152D;
    text-transform: uppercase;
    text-align: center; !important;
    letter-spacing: .2px;     
}

.mobile-location-text{
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center; !important;
    padding-top: 10px; 
    letter-spacing: .5px; 
    height: 405px; 
    padding: 25px 63px 25px 63px;
}  


#mobile-address{
    font-size: 16px;
    padding-top: 3px; 
    font-weight: bold !important;
    letter-spacing: .5px;  
    padding-bottom: 6px;
    color: #BB152D;
}

.social-text{
    padding-right: 0px;    
}

#social-text{
    padding-right: 9px;    
}

.sottiles{
    text-align: center; 
    float: none;
    margin-bottom: 0;
    margin-top: 3px;
}

.aurora{
    text-align: center; 
    float: none;
}

#phone{
    text-align: center;
}

}

@media (min-width: 768px) and (max-width: 975px) { 
.nav>li>a {
    padding: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 15px;
    letter-spacing: .5px;  
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    -ms-transition: color .5s ease;
    transition: color .5s ease;
}

.nav>li>a>img{
    width: 45%;
}

.nav>li{
    margin-left: 1.1%;
    margin-right: 1.1%;
}

.navbar>.container .navbar-brand {
    margin-left: -110px;
    margin-right: -110px;
}

.about-text{
    width: 350px;
    height: 300px;
    left: 8%;
    font-size: 14px;
}

#title{
    font-size: 30px;
    line-height: 28px;
}

.navbar{
    margin-bottom: 5px;
    margin-top: 15px;
}

.contact-buttons img{
    margin-top: 0px !important;
    display: none;
}

.call{
    padding-left: 67px;
    padding-right: 67px;
}

.social-text{
    padding-right: 0px;    
}

#social-text{
    padding-right: 9px;    
}

.sottiles{
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    float: left;
    padding-left: 70px !important;
}

.aurora{
    color: #BB152D;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding-right: 35px !important;
    float: right;
    text-align: right;
    margin-right: 40px;
    margin-left: 40px;
}

.location{
    padding: 10px 22px 10px 22px;
    width: 600px;
    height: 340px;
    background-color: black;
    position: absolute;
    left: 50%;
    margin-left: -38%;
}

.call{
    vertical-align: top;
}
#phone{
    text-align: center;
}

iframe{
    height: 155px;
    width: 552px;
}

.map{
    margin-right: 0; 
}

.location-text{
    font-size: 16px;
    padding-top: 8px;  
}  

#address{
    font-size: 22px;
    padding-top: 3px; 
}

#extra-bold{
    padding-top: 3px; 
    font-size: 18.4px;
}

.time{
    font-size: 10px;
    padding-top: 0px; 
}

.menu-text{
    padding: 10px 22px 10px 22px;
    width: 260px;
    height: 170px;
    left: 21%;
    font-size: 17px;    
}

#menu-first{
    font-size: 41px;   
}
#menu-second{
    font-size: 20px; 
}

#menu-third{
    font-size: 83px;        
}

.specials-list img{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
}


@media (min-width: 979px) and (max-width: 1400px) { 
.nav>li>a{
    font-size: 17px;
    line-height: 14px;
}    

.nav>li>a>img{
    width: 50%;
}

.nav>li{
    margin-left: 1.2%;
    margin-right: 1.2%;
}

.navbar>.container .navbar-brand {
    margin-left: -100px;
    margin-right: -100px;
}

.about-text{
    width: 735px;
    height: 200px;
}

.location{
    padding: 10px 22px 10px 22px;
    width: 495px;
    height: 421px;
    background-color: black;
    position: absolute;
    left: 50%;
    margin-left: -36%;
}

.navbar{
    margin-bottom: 10px;
    margin-top: 10px;
}

iframe{
    height: 225px;
    width: 450px;
}

.map{
    margin-right: 0; 
}

.location-text{
    font-size: 18px;
    padding-top: 8px;  
}  

#address{
    font-size: 24px;
    padding-top: 3px; 
}

#extra-bold{
    padding-top: 3px; 
    font-size: 20.4px;
}

.time{
    font-size: 12px;
    padding-top: 0px; 
}

i.ss-icon{
    color: #BB152D;  
    font-size: 40px;
    line-height: 65px;
}

#werribee{ 
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center !important;
    line-height: 25px;
    color: #BB152D;
}

.phone-img{
    overflow: hidden;
    width: 240px;
}

#werribee{ 
    padding-left: 14px !important;
}

.call{
    padding-top: 29px;
    position: block;
    width: 25%;
}

#order-online{
    line-height: 27px;
    padding-left: 13px !important;
}

#order-online:hover {
    font-size: 24px;
}

#social-text{
    margin-top: 18px;
    padding-right: 0px;    
}

#phone{
    font-size: 39px;
    text-align: right !important;
    padding-top: 26px;
    padding-right: 0 !important;
}

@media (min-width: 1920px) { 
.nav>li>a{
    font-size: 23px;
    line-height: 20px;
}    

.nav>li>a>img{
    width: 75%;
}

.nav>li{
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.brand{
    text-decoration: none !important;
}
}