html,body{
    margin:0 !important;
    max-width: 100%;
    overflow-x: hidden;
} 
/*-- Navigation--*/
.navigation{
	background-color: white;
    padding-top: 20px;
}

.navigation-list{
    text-align: center;
    padding-left:0 !important;
}

.navigation-list ul{
    margin-left: 0;
    text-align: center;
    margin-bottom: 0px;
}

.navigation-list li{
    display:inline;
	list-style-type: none;
	margin-right: 40px;
	margin-left: 40px;
    border-bottom: 1px solid black;
    border-top:  1px solid black;
    padding-top: 13px;
    padding-bottom: 9px;
}

.navigation-list li a{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}    

.navigation-list a:hover{
    color: #BB152D;
}   

.navigation-list li img{
    width: 21%;
}

.logo{
    border-bottom: none !important;
    border-top: none !important;
}

/*-- Homepage --*/
.home img{
	max-width: 100%;
}

.home-text{
    padding: 10px;
    width: 277px;
    height: 170px;
    background-color: white;
    position: absolute;
    left: 197px;
    font-family: 'PT Sans', sans-serif;
    color: #BB152D;
    text-transform: uppercase;
    text-align: center;
}

#home-first{
    font-size: 38px;  
}

#home-second{
    font-size: 51px;  
    font-weight: bold; 
    line-height: 20px;
}

#home-third{
    font-size: 23px; 
    line-height: 44px;
    border-bottom: solid 3px #BB152D;
}

/*-- About --*/
.about img{
    max-width: 100%;
}

.about-text{
    padding: 30px;
    width: 600px;
    height: 265px;
    background-color: white;
    position: absolute;
    left: 197px;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #BB152D;
    text-align: left;
}

#title{
    font-family: 'PT Sans', sans-serif;
    color: #BB152D;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;    
}

/*-- Menu --*/
.menu img{
    max-width: 100%;
}

.menu-text{
    padding: 10px;
    width: 277px;
    height: 170px;
    background-color: white;
    position: absolute;
    left: 370px;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    color: #BB152D;
    text-align: center;
    text-transform: uppercase;
}

#menu-first{
    font-size: 42px;  
    line-height: 37px;
}
#menu-second{
    font-size: 22.4px;
    line-height: 9px;
}

#menu-third{
    font-size: 88px; 
    font-weight: bold;
    border-bottom: solid 3px #BB152D;
    line-height: 73px;
}

/*-- Contact --*/
.phone{
    background-color: #BB152D;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}

.contact-buttons{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.contact-buttons ul{
    text-align: center;
    list-style: none;
    margin-left: 0 !important;
}

.contact-buttons li{
    display: inline-block;
    vertical-align: middle;
}

#email{
    text-align: center !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
    vertical-align: middle;
}

#facebook{
    text-align: center !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    margin-top: 12px;
    vertical-align: middle;
}

.contact-buttons img{
    margin-top: 0px !important;
    max-width: 95%;
}

i.ss-icon{
    color: white;
    font-size: 40px;
    text-align: left;
    line-height: 55px;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    -ms-transition: all .75s ease;
    transition: all .75s ease;
}

.contact-buttons li p{
    text-align: left !important;
    line-height: 28px;
    padding-top: 8px;
}

#order{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: left !important;
    padding-top: 3px;
}

#now{
    font-family: 'PT Sans', sans-serif;
    font-size: 26.5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left !important;
}

#phone{
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    margin: 0 !important;
    letter-spacing: -4px;
    text-align: right;
}

/*-- Footer --*/
.footer{
    height: 25px;
    margin-top: 7px;
}

.sottiles{
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: left;
    padding: 0 !important;
}

.aurora{
    color: #d98e98;
    font-family: 'PT Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 !important;
    text-align: right;
}